<div class="row">
  <% @products.each do |product| %>
  <%= render :partial => "product_item", :collection=>product.product_skus.select(:product_id, :color_id).where("product_id = ?", product.id).distinct(:color_id), :as => :product %>
  <% end %>
</div>